# Template only. Do not submit this file to a tap without replacing all TODO
# values and recording the tap owner in issue #63.

class Ghx < Formula
  desc "Maintained GitHub CLI fork that installs side by side as ghx"
  homepage "https://github.com/agustif/ghx"
  url "https://github.com/agustif/ghx/releases/download/vTODO/ghx_TODO_macOS_arm64.zip"
  sha256 "TODO"
  license "MIT"

  depends_on "git"

  def install
    bin.install "bin/ghx"
    man1.install Dir["share/man/man1/ghx*.1"]
    bash_completion.install "share/bash-completion/completions/ghx"
    fish_completion.install "share/fish/vendor_completions.d/ghx.fish"
    zsh_completion.install "share/zsh/site-functions/_ghx"
  end

  test do
    assert_match "ghx version", shell_output("#{bin}/ghx --version")
  end
end
